<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./static/output.css" rel="stylesheet">
  <script src="./static/htmx.min.js"></script>
  <script defer src="./static/alpine.cdn.min.js"></script>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
<link href="./static/dracula.css" rel="stylesheet">
</head>
<body>
    <div class="navbar bg-black text-slate-100 min-h-0 h-10 p-0">
        <div class="flex-1 min-h-0 h-full">
          <a class="btn btn-ghost text-lg min-h-0 h-full hover:bg-white hover:text-black rounded-sm m-0">Algo</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a>Link</a></li>
            <li>
              <details>
                <summary class="my-0">Parent</summary>
                <ul class="bg-black mt-0">
                  <li><a>Link 1</a></li>
                  <li><a>Link 2</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
</body>
{% block content %}
{% endblock %}
</html>