{% extends "base.html" %}
{% block title %}
<title>HomePage</title>
{% endblock %}
{% block content %}
<div class="m-3 flex flex-row" x-data="{ open: false }">
<input id="select2" class="input input-sm input-bordered input-bordered-primary" 
        hx-post="/loaddata" hx-on="change" list="brow" placeholder="Symbol" name="symbol">
<datalist id="brow">
    {% for i in fl %}
    <option value={{i}}>
        {% endfor %} 
</datalist>
<button class="btn btn-sm btn-primary mx-5" hx-post="/run" hx-include="#select2" hx-target="#stats" hx-swap="innerHTML" >Run</button>
<button class="btn btn-sm btn-primary mx-5" hx-post="/optimize" hx-include="#select2" hx-target="#stats" hx-swap="innerHTML">Optimize</button>
<button class="btn btn-sm mx-3" hx-get="/saveruns">Save</button>
<button class="btn btn-sm mx-3" hx-get="/results">Results</button>
<!-- <button class="btn btn-sm mx-3" hx-get="/reload">Reload</button> -->
</div>
<div class="flex w-full">
    {% set ns =namespace(it = '') %}
    <div class="card place-items-center rounded-lg px-5">
    <ul class="menu menu-vertical bg-base-200">
        {% for item in seq %}
        <li hx-post={{"/select/%s" % item}}><a>{{ item }}</a></li>
    {% endfor %}
    </ul>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="card" id="runs">{{runs|safe}}</div>
<div class="card flex-row shadow" id="stats" hx-post="/fig" hx-trigger="click" hx-target="#plots"></div>
<!-- <div class="card flex-grow" id="params" hx-post="/fig" hx-trigger="click" hx-target="#plots"></div> -->
</div>
<div class="w-full" id="plots">
</div>
<script>
    document.getElementById('select2').addEventListener('change',function(){
    if( document.getElementById('brow').querySelector('[value='+this.value+']') === null ){
        this.value = '';
    }});
</script>
{% endblock %}
