{% extends "base.html" %}
{% block content %}
<div class="m-3 flex flex-row" x-data="{ open: false }">
<button class="btn btn-sm btn-primary mx-3" x-on:click="open = ! open">New</button>
<form hx-post="/new" x-show="open"><input class="input input-sm input-bordered" name="filename"><button class="btn btn-sm mx-3">Save</button></form>
</div>
<div class="flex w-full">
    {% set ns =namespace(it = '') %}
    <div class="card place-items-center rounded-lg px-5">
    <ul class="menu menu-vertical bg-base-200">
        {% for item in seq %}
        <li hx-post={{"/strategies/%s" % item}} hx-target=".strategy" hx-swap="outerHTML"><a>{{ item }}</a></li>
    {% endfor %}
    </ul>
    </div>

    <div class="divider divider-horizontal"></div>
    <div class="collapse collapse-arrow bg-base-200">
        <input type="checkbox" />
        <div class="collapse-title text-xl font-medium">Strategy Code</div>
        <div class="collapse-content">
    <div class="card flex-grow">
    <div hx-post="/edit" hx-swap="outerHTML" class="mockup-code strategy">
        <pre><code class="language-python"></code></pre>
    </div>
</div></div></div>
<script>
    document.getElementById('select2').addEventListener('change',function(){
    if( document.getElementById('brow').querySelector('[value='+this.value+']') === null ){
        this.value = '';
    }});
</script>
<script>
    htmx.on('htmx:afterSettle', (evt) => { hljs.highlightAll();})
</script>

{% endblock %}
