<table border="1" class="dataframe table table-sm table-xs">
    <thead>
    <tr style="text-align: left;">
    <th></th>
    <th>Symbol</th>
    <th>Strategy</th>
    <th>Return (Ann.) [%]</th>
    </tr>
    </thead>
    <tbody>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors hover" hx-get="/getruns/0" hx-target="#stats">
    <th>0</th>
    <td>HDFCBANK</td>
    <td>macd.py</td>
    <td>22.22</td>
    </tr>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors hover" hx-get="/getruns/1" hx-target="#stats">
    <th>1</th>
    <td>HDFCBANK</td>
    <td>macd.py</td>
    <td>9.43</td>
    </tr>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors hover" hx-get="/getruns/2" hx-target="#stats">
    <th>2</th>
    <td>HDFCBANK</td>
    <td>macd.py</td>
    <td>21.48</td>
    </tr>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors hover" hx-get="/getruns/3" hx-target="#stats">
    <th>3</th>
    <td>SBIN</td>
    <td>macd.py</td>
    <td>20.73</td>
    </tr>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors hover" hx-get="/getruns/4" hx-target="#stats">
    <th>4</th>
    <td>SBIN</td>
    <td>macd.py</td>
    <td>25.80</td>
    </tr>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors hover" hx-get="/getruns/5" hx-target="#stats">
    <th>5</th>
    <td>TCS</td>
    <td>macd.py</td>
    <td>5.92</td>
    </tr>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors hover" hx-get="/getruns/6" hx-target="#stats">
    <th>6</th>
    <td>TCS</td>
    <td>macd.py</td>
    <td>16.43</td>
    </tr>
    </tbody>
    </table>