<table border="1" class="dataframe table table-sm table-xs">
    <thead>
    <tr style="text-align: left;">
    <th></th>
    <th>Symbol</th>
    <th>Strategy</th>
    <th>Return (Ann.) [%]</th>
    </tr>
    </thead>
    <tbody>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors hover" hx-get="/getruns/0" hx-target="#stats">
    <th>0</th>
    <td>HDFCBANK</td>
    <td>macd.py</td>
    <td>22.22</td>
    </tr>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors hover" hx-get="/getruns/1" hx-target="#stats">
    <th>1</th>
    <td>HDFCBANK</td>
    <td>macd.py</td>
    <td>9.43</td>
    </tr>
    <tr class="cursor-pointer border-b hover:bg-gray-50 transition-colors invisible hover:visible" hx-get="/getruns/2" hx-target="#stats">
    <th>2</th>
    <td>HDFCBANK</td>
    <td>macd.py</td>
    <td>21.48</td>
    <tr class="cursor-pointer border-b transition-colors hover shadow" hx-get="/getruns/0" hx-target="#stats">
    <th>0</th>
    <td>HDFCBANK</td>
    <td>macd.py</td>
    <td>22.22</td><td id="delete"><button class="btn btn-xs btn-warning" hx-delete="/deleteruns/0">Delete</button></td>
    </tr>
    </tbody>
    </table>